<template>
  <div>{{ news.title }}</div>
</template>

<script>
export default {
  name: 'ArticlePage',
  async asyncData({ params, error, store }) {
    try {
      await store.dispatch('news/getNewsArticle', params.slug)
    } catch (err) {
      return error({
        statusCode: 404,
        message: 'Новости не найдены или сервер не доступен',
      })
    }
  },
  computed: {
    news() {
      return this.$store.state.news.item
    },
  },
}
</script>