<template>
  <div>
    <div v-for="newsItem in news" :key="newsItem.id" class="news-item">
      <nuxt-link :to="`${newsItem.category}/${newsItem.slug}`">{{ newsItem.title }}</nuxt-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArticleCategoryPage',
  async asyncData({ params, error, store }) {
    try {
      await store.dispatch('news/getNewsCategory', params.category)
    } catch (err) {
      return error({
        statusCode: 404,
        message: 'Новости не найдены или сервер не доступен',
      })
    }
  },
  computed: {
    news() {
      return this.$store.state.news.list
    },
  },
}
</script>

<style lang="scss">
.news-item {
  margin: 20px;
  border: 1px solid #000;
  padding: 20px;
}
</style>